- active = @locations.active.first
%header#myCarousel.carousel.slide
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
      %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
        %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
          / Wrapper for slides
  .carousel-inner
    .item.active
      .fill{:style => "background-image:url(#{active.photos.first.image.url(:original)});"}
        .carousel-caption
          %h2
            =active.strap
    - @locations.banner.each do |banner|
      .item
        .fill{:style => "background-image:url(#{banner.photos.first.image.url(:original)});"}
          .carousel-caption
            %h2
              =banner.strap
  / Controls
  %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
    %span.icon-prev
      %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
        %span.icon-next

