/ Features Section
.row
  .col-lg-12
    %h2.page-header El Maresme
  .col-md-6
    %p The Modern Business template by Start Bootstrap includes:
    %ul
      %li
        %strong Bootstrap v3.3.7
      %li jQuery v1.11.1
      %li Font Awesome v4.2.0
      %li Working PHP contact form with validation
      %li Unstyled page elements for easy customization
      %li 17 HTML pages
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.
  .col-md-6
    %img.img-responsive{:alt => "", :src => "http://placehold.it/700x450"}/
/ /.row
