/ Portfolio Section
.row
  .col-lg-12
    %h2.page-header Locations
  .col-md-4.col-sm-6
    %a{:href => "portfolio-item.html"}
      %img.img-responsive.img-portfolio.img-hover{:alt => "", :src => "http://placehold.it/700x450"}/
  .col-md-4.col-sm-6
    %a{:href => "portfolio-item.html"}
      %img.img-responsive.img-portfolio.img-hover{:alt => "", :src => "http://placehold.it/700x450"}/
  .col-md-4.col-sm-6
    %a{:href => "portfolio-item.html"}
      %img.img-responsive.img-portfolio.img-hover{:alt => "", :src => "http://placehold.it/700x450"}/
  .col-md-4.col-sm-6
    %a{:href => "portfolio-item.html"}
      %img.img-responsive.img-portfolio.img-hover{:alt => "", :src => "http://placehold.it/700x450"}/
  .col-md-4.col-sm-6
    %a{:href => "portfolio-item.html"}
      %img.img-responsive.img-portfolio.img-hover{:alt => "", :src => "http://placehold.it/700x450"}/
  .col-md-4.col-sm-6
    %a{:href => "portfolio-item.html"}
      %img.img-responsive.img-portfolio.img-hover{:alt => "", :src => "http://placehold.it/700x450"}/
/ /.row
