/ Marketing Icons Section
.row{ id: "services" }
  .col-lg-12
    %h1.page-header
      Services
  .col-md-3
    .panel.panel-default
      .panel-heading
        %h4
          %i.fa.fa-fw.fa-check
            Events
      .panel-body
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?
        %a.btn.btn-default{:href => "#{pages_events_path}"} Learn More
  .col-md-3
    .panel.panel-default
      .panel-heading
        %h4
          %i.fa.fa-fw.fa-gift
            Reports
      .panel-body
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?
        %a.btn.btn-default{:href => "#{pages_reports_path}"} Learn More
  .col-md-3
    .panel.panel-default
      .panel-heading
        %h4
          %i.fa.fa-fw.fa-compass
            Shoots
      .panel-body
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?
        %a.btn.btn-default{:href => "#{pages_shoots_path}"} Learn More
  .col-md-3
    .panel.panel-default
      .panel-heading
        %h4
          %i.fa.fa-fw.fa-compass
            Spots
      .panel-body
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?
        %a.btn.btn-default{:href => "#{pages_spots_path}"} Learn More
