@import "bootstrap-sprockets";
@import "bootstrap";
@import "modern-business";
@import "contact-form";

$electric-pink: #FF485D;
$dark-grey: #516067;
$navbar-link: white;
$body-text: white;

body {
  background-color: $dark-grey;
  color: $body-text;
}
.navbar-inverse {
  background-color: $electric-pink;
  border-color: $electric-pink;
}

.nav.navbar-nav.navbar-right li a {
  color: $navbar-link;
}

.navbar-brand {
  background-image: image-url('location.svg');
  background-repeat: no-repeat;
}

.navbar-inverse .navbar-toggle {
    background-color: transparent;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}

.feature-header, .locations-header, .services-header {
  padding-top: 20px;
}

.maresme-feature {
  padding-top: 30px
}
