.container
  .row
    .col-lg-12
      %h2.page-header
        = @location.name
    .col-lg-12
      = image_tag @location.photos.first.image.url
    .col-lg-12
      = @location.description
  .row
    .col-lg-12

.container
  - @location.photos.each do |photo|
    .col-lg-3.col-md-4.col-xs-6.thumb
      %a.thumbnail
        %img.img-responsive.img-portfolio.img-hover{:alt => "", :src => photo.image.url(:medium)}/

